.ghe{
    cursor: pointer;
    color: #fff;
    background: #9E9E9E;
    margin: 5px;
    border-radius: 5px;
    width: 60px;
}

.gheDuocDat{
    /* ghe dc nguoi khac dat truoc */
    cursor: no-drop!important;
    background: #e40000!important;
}

.gheDaDat{
    background: #2196F3;
}