<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <div class="container">
        <div class="row">
            <div class="col-6">
                <h4 class="display-5">Danh Sách Ghế</h4>
                <div id="danhsachghe"></div>
            </div>
            <div class="col-6">
                <h4 class="display-5">Thông Tin Đặt Vé</h4>
                <div id="tongtindatve"></div>
            </div>

            <div class="col-6"></div>
        </div>
    </div>
    <script src="../bundle.js"></script>
</body>
</html>